
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge; text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Whatson: London next 7 days</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>


</head>

<body>

<div class="container">

    <div id="whatson-mast" class="jumobotron">
        <h1>Whatson: London</h1>
        <h3 th:inline="text" >
            Events for category ID "[[${selectedCategory}]]" over next seven days...
        </h3>
    </div>



    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose an event category
            <span class="caret"></span></button>
        <ul class="dropdown-menu" >
            <li  th:each="category : ${categories}">
                <a  th:href="'/events?category=' + ${category.id}" th:text="${category.id}">category</a>
            </li>
        </ul>
    </div>


    <div id="whatson" class=".container-fluid">


        <div id="events" >
            <div id="event" class="panel panel-default" th:each="event : ${events}">
                    <div class="panel-body">
                    <div class="row">
                        <!-- <div id="event-id" class="col-sm-2" th:text="${event.id}">id</div> -->
                        <div id="event-title" class="col-sm-6 bg-primary" th:text="${event.title}">title</div>
                        <div id="event-venuexx" class="col-sm-6 bg-primary" th:text="${event.venueName}">venueName</div>
                    </div>
                    <div class="row">
                        <div id="event-date" class="col-sm-6 bg-info"> Dates: </div>
                        <div id="event-start-date" class="col-sm-3 bg-info" th:text="'From: ' + ${event.startDateString}">endDate</div>
                        <div id="event-end-date" class="col-sm-3 bg-info" th:text="'Until: ' + ${event.endDateString}">endDate</div>

                    </div>
                    <div class="row">
                        <div id="event-desc" class="col-sm-10" th:text="${event.description}">description</div>
                        <div id="event-image"  class="col-sm-2" > <img th:src="${event.imageUrl}"/></div>
                    </div>
                </div>
            </div>
            <div>
                <a th:href="'/events.html?category='  + ${selectedCategory} + '&amp;page=' + ${pageNum}">NEXT &gt;&gt;</a>
            </div>
        </div>
    </div>

</div>



<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"/>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"/>

</body>
</html>